html, body {
    background-color: #ffffff !important;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    height: 100%;
}

.heading {
    top: 0px;
    position: absolute;
    margin-top: 45vh;
    color: #fff2cc;
}

.title {
    margin-top: -4.67vh;
    text-align: center;
    font-size: 4rem;
    padding-bottom: 20px;
}

header {
    background-color: #fff2cc;
}

a:hover {
    text-decoration: none !important;
}

#icon1{
    height: 50%;
    width: 50%;
    border-radius: 100%;
    
}
.shortcut {
    height: 4vw;
    line-height: 1vw;
    color: #1b3300;
}

.shortcut-text {
    padding-top: 1vw;
}

.shortcut-text > p {
    margin-top: 1vh;
}

.bodyPicture1 {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 90px;
    margin-right: 50px;
    max-width: 40%;
    float: left;
}

.body {
    margin-top: 70px;
    max-width: 15%;
    float: left;
}

.body p {
    font-size: 1.5rem;
    text-align: left;
    line-height: 1.5;
}

.bodyPicture2 {
    margin-left: 50px;
    margin-top: 70px;
    margin-bottom: 70px;
    max-width: 40%;
    margin-right: 50px;
    float: left;
}

.contact-body {
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    line-height:90%;
}

a:link {
    color: #020202;
    text-decoration: none;
}

a:hover {
    color: #020202;
    text-decoration: underline;
}
 
.footerWrapper {
    float: left;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    
    background-color: #fff2cc;
    padding-top: 25px;
    width: 100%;
} 

.footerWrapper h6 {
    text-align: center;
    font-size: 1.5rem;
}

.footerWrapper p {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.5rem;
}



.copyright {
    padding-top: 40px;
}

/*Nav Styles*/

.linksToPages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    width: 30%;
    text-align: center;
}

.linksToPages > img {
    border-radius: 100%;
}

/*.shortcuts {
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff2cc;
    padding: 0px;
    width: 100%;
    text-align:left;
    padding-right:75%;
    z-index:3;
}*/

/*About Us Styles*/

.aboutUsContainer {
    display: grid;
    
}

.Mikepic img {
    float: left;
    margin: 0vh 5vh 5vh 5vh;
    max-width: 30%;
    height: auto;
}

.aboutUsText > p {
    font-size: 1.5rem;
    margin: 5vh;
}

/*Vlog Styles*/

.vlogText {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    font-size: 1.5rem;
}

.vlogPicture {
    display: flex;
    justify-content: center;
}

/*Book Session Syles*/
 
 ul {list-style-type: none;}
body {font-family: Arial, Helvetica, sans-serif; background-color: gray;}

/* Month header */
.month {
  padding: 70px 25px;
  margin-left:50px;
  width: 50%;
  background:white;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin-left:50px;
  padding: 10px 0;
  width: 50%;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  width: 50%;
  margin-left:50px;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

.bas-body {
    margin: -40vh 0 0 100vh;
}
 